<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<title>Video</title>
	</head>
	<body style="background-color: #000">
		<div class="ratio ratio-16x9">
			<iframe
				src="https://www.google.com/search?q=ymapache+comiendo+uvas&rlz=1C1VDKB_esMX1035MX1035&oq=ymapache+comiendo+uvas&aqs=chrome..69i57j0i13i512l2j0i22i30l2.5239j0j7&sourceid=chrome&ie=UTF-8#fpstate=ive&vld=cid:4d86ef3a,vid:lLSu0UHNZhU"
				title="YouTube video"
				allowfullscreen
			></iframe>
		</div>

		<script src="../js/bootstrap.min.js"></script>
	</body>
</html>
